.question-div {
  padding: 4% 0 2% 0;
}

#searchedInput {
  width: 100%;
  padding: 0.4%;
  font-size: 20px;
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 15px;
  padding-left: 5%;
  border: 2.5px solid #ccc;
  margin-bottom: 2%;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.question {
  font-size: 20px;
  border-bottom: 2.5px solid rgb(47, 47, 145);
  padding: 0.5%;
  margin-bottom: 0.5%;
  cursor: pointer;
}

.view {
  display: initial;
}

.hidden {
  display: none;
}

.highLight {
  background-color: rgb(47, 47, 145);
  color: #fff;
}