.hero-us {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 145px 0 400px 0;
}
.hero-phones {
  position: relative;
  width: 55%;
}
.hero-phone-1 {
  position: absolute;
  max-width: 222.5px;
  width: 50%;
  z-index: -1;
}
.hero-phone-2 {
  position: absolute;
  max-width: 250.63px;
  width: 50%;
  top: 55px;
  left: 27.5%;
}
.hero-phone-3 {
  position: absolute;
  max-width: 258.44px;
  width: 50%;
  top: 140px;
  left: 55%;
  z-index: -1;
}
.hero-phones-decor {
  position: absolute;
  width: 526px;
  height: 526px;
  z-index: -2;
}
.decor-yellow {
  top: -110px;
  left: -150px;
  background: var(--gradient-yellow);
}
.decor-red {
  top: 125px;
  left: 35%;
  background: var(--gradient-red);
}
/* Тень видна только нв моб версии */
.decor-blue {
  display: none;
}
/* ------------------------------- */
.hero-text {
  width: 43.3%;
  margin-top: 35px;
  gap: 20px;
}
.hero-list {
  margin-left: 10px;
}
.hero-list p {
  position: relative;
  padding-left: 15px;
}
.hero-list p::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(20%);
  color: var(--color-full-white);
  font-size: 16px;
}

.authors-section {
  margin-bottom: 190px;
}
.authors-section h1 {
  margin-bottom: 50px;
}
.authors {
  margin-top: 35px;
  gap: 100px;
}
.author {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.author:nth-child(even) {
  flex-direction: row-reverse;
}
.author-text {
  width: 45%;
  gap: 10px;
}
.author-text p {
  text-align: center;
}
.author-name-job {
  margin-bottom: 30px;
}
.author-name {
  font-size: var(--font-size-big);
  margin-bottom: 10px;
}
.author-job {
  font-size: var(--font-size-mid);
  font-weight: var(--font-weight-bold);
}
.author:nth-child(odd) .author-name-job {
  align-self: flex-end;
}
.author:nth-child(odd) .author-job {
  text-align: end;
}
.font-color-yellow {
  color: var(--color-yellow);
}
.font-color-blue {
  color: var(--color-blue);
}
.font-color-red {
  color: var(--color-lightly-red);
}
.font-color-green {
  color: var(--color-green);
}
.author-list {
  margin-left: 10px;
}
.author-list p {
  position: relative;
  padding-left: 15px;
}
.author-list p::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(20%);
  color: var(--color-full-white);
  font-size: 16px;
}
.author-img {
  position: relative;
}

.author-img img {
  width: 300px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}
.author-img-bg {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  z-index: 1;
}
.author-img-bg-1 {
  background: linear-gradient(
    25deg,
    rgba(178, 158, 255, 1),
    rgba(255, 251, 158, 1)
  );
}
.author-img-bg-2 {
  background: linear-gradient(
    130deg,
    rgba(178, 158, 255, 1),
    rgba(255, 104, 104, 1)
  );
}
.author-img-bg-3 {
  background: linear-gradient(
    130deg,
    rgba(255, 104, 104, 1),
    rgba(104, 255, 183, 1)
  );
}
.author-img-bg-4 {
  background: linear-gradient(
    210deg,
    rgba(104, 255, 183, 1),
    rgba(255, 251, 158, 1)
  );
}
.author-decor {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -50%;
  left: -50%;
  z-index: -1;
}
.author-decor-yellow {
  background: var(--gradient-yellow);
}
.author-decor-blue {
  background: var(--gradient-blue);
}
.author-decor-red {
  background: var(--gradient-red);
}
.author-decor-green {
  background: var(--gradient-green);
}

.mobile-btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .hero-us {
    margin-bottom: 335px;
  }
}

/* Мобильная адаптация */

@media screen and (max-width: 800px) {
  .hero-us {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 56px;
  }
  .hero-text {
    width: 100%;
  }
  .hero-phones {
    width: 90%;
  }
  .hero-phone-2 {
    top: 100px;
    left: 27.5%;
  }
  .hero-phone-3 {
    top: 232px;
    left: 55%;
  }
  /* Тени декора телефонов */
  .decor-yellow {
    top: -25px;
    left: 10px;
    width: 80%;
    padding-top: 80%;
    height: 80%;
  }
  .decor-red {
    width: 125%;
    padding-top: 125%;
    height: 125%;
    top: 80px;
    left: -12.5%;
  }
  /* Деполнительная синяя тень появляющеяся на моб.версии */
  .decor-blue {
    display: initial;
    width: 100%;
    padding-top: 100%;
    height: 100%;
    top: 280px;
    left: 12.5%;
    background: var(--gradient-blue);
  }

  /* Секция с авторами */

  .authors-section {
    margin-top: 90%;
  }
  .authors-section h1 {
    text-align: center;
  }
  .authors {
    gap: 115px;
  }
  .author {
    flex-direction: column-reverse;
    gap: 75px;
  }
  /* Отмена поведения чётных елементов */
  .author:nth-child(even) {
    flex-direction: column-reverse;
  }
  /* --------------------------------- */
  .author-text {
    width: 100%;
  }
  .author-name-job {
    align-self: center;
  }
  /* Отмена поведения нечётных елементов */
  .author:nth-child(odd) .author-name-job {
    align-self: center;
  }
  .author:nth-child(odd) .author-job {
    text-align: center;
  }
  /* Подгоняю img и обводку под макетные данные */
  .author-img {
    max-width: 365px;
    max-height: 365px;
    width: 80vw;
    height: 80vw;
    min-width: 200px;
    min-height: 200px;
  }
  .author-img img {
    width: 93%;
    /* height: 95%; */
  }
  .author-img-bg {
    width: 100%;
    height: 100%;
  }
  /* Центрирую тень иконки автора */
  .author-decor {
    width: 200%;
    height: 200%;
    /* width: 508px;
    height: 508px; */
    top: -55%;
    left: -55%;
  }
  /* Отступ от кнопки */
  .hero-list {
    margin-bottom: 5.5px;
  }
  /* Кнопка видна по макету только на моб.версии */
  .mobile-btn {
    display: block;
  }
}
