.title-qwestion {
  align-self: flex-start;
  margin-bottom: 50px;
  /* color: rgb(255, 104, 104); */
  color: rgb(255, 251, 158);
  text-align: center;
  width: 100%;
}
main {
  padding: 120px 0;
}
main img {
  display: block;
  max-width: 100%;
  border-radius: 42px;
}
/* Рамка для телефона */
.phone-frame {
  position: relative;
  max-width: 340px;
  width: 100%;
  padding-top: 33px;
  border: 11px solid black;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.camera {
  position: absolute;
  top: 7.5px;
  left: calc(50% - 100px);
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 6px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.speaker {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 5px;
  border: 1px solid #000;
  border-top: 5px solid #000;
  border-radius: var(--radius);
  background-color: transparent;
}
/* ------------------- */
main .cont {
  gap: 30px;
  width: 100%;
  margin-bottom: 25px;
}
.text-note {
  color: rgb(178, 158, 255);
}
.img-title {
  width: 35px;
}
/* .content-c {
    gap: 10px;
} */

@media screen and (max-width: 800px) {
  .title-qwestion:has(img) {
    font-size: 6vw;
  }
  .evenly-center {
    flex-direction: column;
  }
  .phone-frame {
    max-width: 210px;
    padding-top: 25px;
    border: 6px solid black;
    border-radius: 35px;
  }
  main img {
    border-radius: 28px;
  }
  .camera {
    top: 6.5px;
    width: 5px;
    height: 5px;
    border: 4px solid #000;
    left: calc(50% - 61.5px);
  }
  .speaker {
    width: 30px;
    height: 1.5px;
    border-top: 3.5px solid #000;
  }
}
