@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
  --bg-body: rgb(33, 34, 34);
  --bg-green: rgb(104, 255, 183);

  --bg-vector: rgb(255, 251, 158);
  --bg-decor: rgba(33, 34, 34, 0.75);
  --bg-decor-border: rgba(255, 255, 255, 0.5);

  --color-white: rgb(234, 234, 234);
  --color-full-white: rgb(255, 255, 255);

  /* custom text color */

  --color-grey: rgb(144, 144, 144);
  --color-green: rgb(104, 255, 183);
  --color-yellow: rgb(255, 251, 158);
  --color-blue: rgb(178, 158, 255);
  --color-lightly-red: rgb(255, 104, 104);
  --color-dark-red: rgb(255, 54, 54);

  /* ---------------- */

  /* gradient bolls color */

  --gradient-green: radial-gradient(
    50% 50% at 50% 50%,
    rgb(26, 73, 48),
    rgba(26, 73, 48, 0) 100%
  );
  --gradient-yellow: radial-gradient(
    50% 50% at 50% 50%,
    rgb(66, 67, 42),
    rgba(66, 67, 42, 0) 100%
  );
  --gradient-blue: radial-gradient(
    50% 50% at 50% 50%,
    rgb(57, 52, 80),
    rgba(45, 41, 65, 0) 100%,
    rgba(57, 52, 80, 0) 100%
  );
  --gradient-red: radial-gradient(
    50% 50% at 50% 50%,
    rgb(73, 26, 26),
    rgba(73, 26, 26, 0) 100%
  );

  /* -------------------- */

  --font-play: "Play", sans-serif;

  --font-size-very-big: 48px;
  --font-size-big: 32px;
  --font-size-mid: 24px;
  --font-size-little: 14px;
  --font-size-text: 20px;
  --font-size-qr: 80%;

  --font-weight-light: 400;
  --font-weight-bold: 700;

  --radius: 20px;
  --box-radius: 55px;
  --rounded-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  text-decoration: none;
}
body {
  width: 100vw;
}
/* size */
.max-1200 {
  max-width: 1200px;
  width: 96%;
}
.max-750 {
  max-width: 750px;
  width: 96%;
}
.w100 {
  width: 100%;
}
/* flex */
.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.center-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.beetween-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.beetween-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.row-beetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* size */
.mt75 {
  margin-top: 80px;
}
.mb175 {
  margin-bottom: 175px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb25 {
  margin-bottom: 25px;
}
.gap15 {
  gap: 15px;
}
/* https://play.google.com/store/apps/details?id=com.valik404.inventorymanager */

body {
  background-color: var(--bg-body);
  overflow-x: hidden;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

header {
  height: 78px;
  gap: 20px;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 62px;
}
.logo img {
  height: 100%;
}
.logoTitle {
  color: var(--color-white);
  font-family: var(--font-play);
  font-size: var(--font-size-big);
  line-height: 35px;
  letter-spacing: -0.49px;
  font-weight: 400;
}

/* nav */
nav {
  width: 100%;
  max-width: 468px;
}
nav .link {
  color: var(--color-white);
  font-family: var(--font-play);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.49px;
  transform: all 0.3s;
}
.link-c {
  position: relative;
}

.active-decor {
  transition: all 0.3s;
  position: absolute;
  top: 10%;
  height: 100%;
  width: 160%;
  left: -30%;
  z-index: 2;
  filter: blur(10px);
}
.link-c:hover .active-decor {
  background-color: rgba(26, 73, 48, 1);
  width: 140%;
  left: -20%;
}

nav .link-active .active-decor {
  background-color: rgba(26, 73, 48, 0.8);
}

.link-c:hover .link {
  position: relative;
  text-decoration: underline;
  color: var(--bg-green);
  background-color: transparent;
  z-index: 3;
}

nav .link.active {
  position: relative;
  text-decoration: underline;
  color: var(--bg-green);
  background-color: transparent;
  z-index: 3;
}

/* download */

.a-download-c {
  position: relative;
  height: 56px;
  transform: translateY(14px);
}

.a-download-c:hover .a-download-dec {
  width: 160%;
  height: 430%;
  transform: translate(-19%, -47%);
}
.a-download-dec {
  position: absolute;

  width: 130%;
  height: 300%;

  transform: translate(-10%, -35%);
  transition: all 0.3s;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(26, 73, 48),
    rgba(26, 73, 48, 0) 100%
  );
  border-radius: 30px;
}

.a-download {
  position: relative;
  z-index: 2;
  padding: 14px 52px;
  color: var(--bg-body);
  font-family: var(--font-play);
  font-size: var(--font-size-mid);
  font-weight: 400;
  border-radius: 30px;
  background: var(--bg-green);
}

/* footer */

.footer-left-cont {
  margin: 25px 0 50px 0;
}
.right-footer {
  width: auto;
  gap: 14px;
}

/* text */

.title {
  color: var(--color-full-white);
  font-family: var(--font-play);
  font-size: var(--font-size-very-big);
  font-weight: var(--font-weight-light);
  position: relative;
  z-index: 99;
}

.text {
  position: relative;
  z-index: 99;
  color: var(--color-full-white);
  font-family: var(--font-play);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
}

@media screen and (max-width: 1000px) {
  :root {
    --font-size-very-big: 40px;
    --font-size-mid: 20px;
    --font-size-text: 16px;
    --font-size-qr: 65%;
  }
}

/* задача поменять классы на нормальные, сделать стили линий такие как на дизайне, мобильная верстка начинается при 800 пиксилей, сделать правильно header and footer */

/* иконка, даю ограничения в размере и прячу ее */
.icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

/* рисую первый центральный спан  */
.icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  left: 0;

  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* Рисую каждую черточку отдельно   */

.icon span:nth-child(1) {
  top: 0px;
}
.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 13px;
}
.icon span:nth-child(4) {
  top: 26px;
}

/* Рисую крестик ро клику   */

.menu-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu-open span:nth-child(2) {
  transform: rotate(45deg);
}
.menu-open span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ----------- */

/* Кнопки сменяються на макете в зависимости от экрана одна после лого, а мобильная dawnload в конце */

/* .mobile-dawnload-btn {
  display: none;
} */

/* ------------------- */

@media screen and (max-width: 800px) {
  :root {
    --font-size-very-big: 48px;
    --font-size-big: 32px;
    --font-size-mid: 24px;
    --font-size-little: 14px;
    --font-size-text: 20px;
    --font-size-qr: 85%;
  }
  .max-1200 {
    width: 92%;
  }
  .icon {
    display: block;
  }

  header .logo img {
   height: 40px;
  }
  header .logoTitle {
    font-size: 19px;
    line-height: normal;
  }

  nav.row-beetween,
  header nav .link-c,
  header .a-download-c {
    display: none;
  }

  footer {
    position: relative;
    padding-bottom: 130px;
  }
  footer.beetween-start {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer .left-column {
    align-items: center;
    gap: 15px;
  }

  footer .logo {
    justify-content: center;
  }

  footer .logoTitle {
    font-size: 32px;
    display: block;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;
  }
  .footer-left-cont {
    max-width: 90vw;
  }
  .footer-left-cont a,
  .footer-left-cont h1 {
    text-align: center;
    font-size: var(--font-size-mid);
  }

  .left-footer .a-download-c {
    /* display: none; */
    position: absolute;
    bottom: 0px;
  }

  footer .link-c {
    font-size: var(--font-size-big);
  }

  footer .a-download {
    font-size: var(--font-size-big);
  }

  /* Класс для появления кнопки на моб устройствах в концу футера находиться */
  /* .mobile-dawnload-btn {
    display: block;
    margin-top: 30%;
  } */
}


@media screen and (max-width: 540px) {
  :root {
    /* --font-size-qr: 0.75em; */
    --font-size-qr: 2.4vw;
  }
}