.hero-g {
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 56px 0 175px 0;
}
.hero-left {
  width: 47%;
}
.hero-list-c {
  padding-left: 30px;
  gap: 5px;
}
.point {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--color-full-white);
}

.hero-right {
  width: 50%;
  height: 100%;
  position: relative;
  /* background-color: red; */
}

.hero-phone {
  max-width: 304px;
  width: 52%;
}
.hero-decor {
  position: absolute;
  border-radius: var(--radius);
  background-color: var(--bg-decor);
  border: 0.5px solid var(--bg-decor-border);
  width: 30%;
  height: 100px;
}

.hero-decor-boll {
  position: absolute;
  width: 19vw;
  height: 19vw;
  z-index: -1;
}

.hero-decor-1 {
  padding: 25px 9px;
  left: 60%;
  top: 12%;
}
.hero-decor-1 h2 {
  color: var(--color-full-white);
  font-size: var(--font-size-qr);
  font-family: var(--font-play);
}
.hero-decor-1 img {
  width: 60%;
}
.hero-decor-1 .hero-decor-boll {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(26, 73, 48),
    rgba(26, 73, 48, 0) 100%
  );
}

.hero-decor-2 {
  right: 64%;
}
.hero-decor-2 img {
  width: 80%;
}
.hero-decor-2 .hero-decor-boll {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(73, 26, 26),
    rgba(73, 26, 26, 0) 100%
  );
}

.hero-decor.hero-decor-3 {
  border: none;
  background: none;
  top: 77%;
  left: 60%;
}
.hero-decor-3 img {
  width: 115%;
}
.hero-decor-3 .hero-decor-boll {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(66, 67, 42),
    rgba(66, 67, 42, 0) 100%
  );
}
